.schedule__title {
  padding: 2.5px;
  color: #333333;
}
.schedule__title:hover{
  color: #fff;
  background: #999;
}
.simple-calendar {
  padding: 30px 0;
}
.calendar-heading {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.calendar-heading a {
  padding: 15px;
  border: #333333 solid 2px;
  border-radius: 5px;
}
.calendar-heading a:hover{
  color: #fff;
  background: #999;
}