.schedule-page .schedule-page__inner {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: #333333 solid 2px;
  border-radius: 5px;
}
.schedule-page .schedule-page__inner .schedule-page__inner--left, .schedule-page .schedule-page__inner .schedule-page__inner--right {
  float: left;
  width: 50%;
}
.schedule-page .schedule-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.schedule-page .schedule-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 35px;
  font-weight: 200;
}
.schedule-page .schedule-page__header h2:after {
  content: "";
  display: block;
  width: 350px;
  margin-top: 5px;
  border-bottom: 1px solid #38aef0;
}
.schedule-page .schedule-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.schedule-page .schedule-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.schedule-page .field {
  margin-bottom: 10px;
}
.schedule-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.schedule-page .field .field-label i {
  font-size: 11px;
}
.schedule-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.schedule-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.schedule-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #333333;
}
.schedule-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.schedule-page .field-input .field_with_errors {
  position: relative;
}
.schedule-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}
.field-start select {
  width: 75px;
  height: 50px;
}