* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  padding: 2vh 1vw;
  display: flex;
  flex-direction: column;
  border: #333333 solid 2px;
  border-radius: 5px;
}

.top-page-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.schedule-icon {
  width: 10vw;
  margin-right: 3vw;
}

.schedule-name {
  font-size: 50px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.header__list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  padding: 10px;
  border: #333333 solid 2px;
  border-radius: 5px;
}

.header__list:hover{
  color: #fff;
  background: #999;
}